[Desktop Entry]
Name=Exclusive BT Switcher
Comment=Exclusively lock one Bluetooth audio device at a time
Exec=btswitch
Icon=bluetooth-active
Type=Application
Categories=Utility;Audio;Settings;
Keywords=bluetooth;audio;headphones;switch;
StartupNotify=true
Terminal=false
